/* Reset default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove text decorations */
a {
  text-decoration: none;
}

/* Set a default font */
body {
  font-family: Arial, sans-serif;
}

/* Set background and text color for the body */
body {
  background-color: #fff;
  color: #000;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove border on images */
img {
  border: 0;
}

/* Remove default form styles */
input,
button,
textarea,
select {
  background: transparent;
  border: none;
  outline: none;
}

/* Set default button styles */
button {
  cursor: pointer;
}
